#phone {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 11px 11px 11px 11px;
    background-clip: padding-box;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.28), 0px 1px 1px rgba(255, 255, 255, 0.45) inset, 0px 0px 2px rgba(255, 255, 255, 0.2) inset;
    padding: 15px;
    width: 100%;
    height: 100%;
}


#phone iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}


.accordion {
    margin: 10px;
    margin-bottom: 30px;
}
